# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.

# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.

title: Trasformazione Digitale
description: "Piano Triennale per l'informatica nella Pubblica Amministrazione"
author: Team Digitale e AgID

baseurl: "" # the subpath of your site, e.g. /blog
url: "https://pianotriennale-ict.italia.it"
piwik: 3
google_analytics: 'UA-96140462-4'
# Build settings
markdown: kramdown
gems:
  - jekyll-feed
  - jekyll-seo-tag
  - jekyll-redirect-from
  - jekyll-sitemap
exclude:
  - Gemfile
  - Gemfile.lock
  - README.md
  - LICENSE
  - vendor
  - package.json
  - gulpfile.js
  - node_modules
  - circle.yml
  - yarn.lock

# Custom vars
theme_color: "#0066cc"
css_theme: t-Pac
owner_short: AgID
owner_full: Agenzia per l'Italia Digitale
owner_link: http://www.agid.gov.it
logo: /assets/images/logo-it.svg
owner_logo: /assets/images/agid-logo-bb.svg
owner_logo_alt: /assets/images/agid-logo-alt-bb.svg
partner_short: Team Digitale
partner_full: Team per la Trasformazione Digitale
partner_link: https://teamdigitale.governo.it
privacy_link: https://developers.italia.it/it/privacy-policy
partner_logo: /assets/images/dt-logo.svg
partner_logo_alt: /assets/images/dt-logo-alt.svg
gov_full: Presidenza del Consiglio dei Ministri
gov_link: http://www.governo.it
gov_logo: /assets/images/governo.svg
gov_logo_alt: /assets/images/governo-alt.svg
dfp_full: Dipartimento della funzione pubblica
dfp_link: http://www.funzionepubblica.gov.it
dfp_logo: /assets/images/governo.svg
dfp_logo_alt: /assets/images/governo-alt.svg

pill: 2017-2019

collections:
  pages:
    output: true
    permalink: /:path/
    layout: page
  press-releases:
    output: false

defaults:
  -
    scope:
      path: "_pages/it"
      type: "pages"
    values:
      permalink: /:title/

sass:
  style: compressed
