{% capture newLine %}
{% endcapture %}
{% capture newParagraph %}

{% endcapture %}
{% assign linee-azione = site.data.linee_azione[page.lang] | sort: "numero" %}
<div class="Tabs tabpanel">
  <ul class="tablist" role="tablist">
    <li id="tab-0" class="tab selected" aria-controls="panel-0" role="tab" aria-selected="true" tabindex="-1">
      <span class="Tab-label u-text-r-xxs">{{ t.amministrazioni_centrali }}</span>
    </li>
    <li id="tab-1" class="tab" aria-controls="panel-1" aria-selected="false" role="tab" tabindex="0">
      <span class="Tab-label u-text-r-xxs">{{ t.amministrazioni_territoriali }}</span>
    </li>
  </ul>
  <div id="panel-0" class="Linee-azione panel" aria-labelledby="tab-0" role="tabpanel">
  {% for linea-azione in linee-azione %}
    {% assign not-yet-inserted = true %}
    {% if linea-azione.chapter == page.chapter or page.linee-azione-all %}
    {% if linea-azione.subchapter == page.subchapter or page.linee-azione-all %}
    {% for attore in linea-azione.attori %}
    {% if site.data.attori[page.lang][attore].tipo == 'amministrazioni_centrali' or site.data.attori[page.lang][attore].tipo == 'amministrazioni_centrali_e_territoriali' %}
    {% if not-yet-inserted %}
      {% assign not-yet-inserted = false %}
      <div class="Accordion Accordion--default fr-accordion js-fr-accordion" id="linea-azione-pac-{{ linea-azione.numero }}">
          <h3 class="Accordion-header js-fr-accordion__header fr-accordion__header" id="accordion-header-pac-{{ linea-azione.numero }}">
            <span class="Accordion-number">{{ linea-azione.numero }}</span>
            <span class="Accordion-link u-text-r-xs u-flex u-flexAlignItemsCenter">
              {{ linea-azione.nome }}
              {% comment %}{% if linea-azione.stato == 'completo' %}<span class="u-text-xxs u-alignMiddle u-flexExpandLeft u-padding-right-xs u-padding-left-xs u-borderRadius-xl u-color-95 u-textWeight-400 u-textNoWrap u-background-green">{{ t.completo }}<span class="Icon Icon-check u-margin-left-xs"></span></span>{% endif %}{% endcomment %}
              {% comment %}{% if linea-azione.stato == 'in corso' %}<span class="u-text-xxs u-alignMiddle u-flexExpandLeft u-padding-right-xs u-padding-left-xs u-borderRadius-xl u-color-95 u-textWeight-400 u-textNoWrap u-background-yellow">{{ t.in_corso }}<span class="Icon Icon-settings u-margin-left-xs u-background-yellow"></span></span>{% endif %}{% endcomment %}
              {% comment %}{% if linea-azione.stato == 'bloccato' %}<span class="u-text-xxs u-alignMiddle u-flexExpandLeft u-padding-right-xs u-padding-left-xs u-borderRadius-xl u-color-95 u-textWeight-400 u-textNoWrap u-background-red">{{ t.bloccato }}<span class="Icon Icon-close u-margin-left-xs u-background-red"></span></span>{% endif %}{% endcomment %}
              {% if linea-azione.nota %}
              <span class="u-margin-left-xs Icon Icon-comment"></span>
              {% endif %}
            </span>
          </h3>
          <div id="accordion-panel-pac-{{ linea-azione.numero }}" class="Accordion-panel fr-accordion__panel js-fr-accordion__panel">
              <div class="Grid u-padding-r-bottom">
                <div class="Grid-cell u-sizeFull u-sm-size1of5 u-md-size1of5 u-lg-size1of5 u-padding-r-left u-padding-r-right u-padding-top-xs">
                  <span class="u-textItalic u-color-grey-90">{{ t.tempi | capitalize }}:</span>
                </div>
                {% assign tempi = t.actions_progress %}
                {% if linea-azione.inizio %}
                {% assign inizio = linea-azione.inizio | split: '/' %}
                {% assign anno_inizio = inizio | last %}
                {% assign mese_inizio = inizio | first %}
                {% assign tempi = t.actions_from | append: t.months[mese_inizio] | append: ' ' | append: anno_inizio %}
                {% endif %}
                {% if linea-azione.fine %}
                {% assign fine = linea-azione.fine | split: '/' %}
                {% assign anno_fine = fine | last %}
                {% assign mese_fine = fine | first %}
                {% assign tempi = tempi | append: t.actions_to | append: t.months[mese_fine] | append: ' ' | append: anno_fine %}
                {% endif %}
                {% if linea-azione.a %}
                {% assign a = linea-azione.a | split: '/' %}
                {% assign anno = a | last %}
                {% assign mese = a | first %}
                {% assign tempi = t.actions_at | append: t.months[mese] | append: ' ' | append: anno %}
                {% endif %}
                {% if linea-azione.entro %}
                {% assign entro = linea-azione.entro | split: '/' %}
                {% assign anno = entro | last %}
                {% assign mese = entro | first %}
                {% assign tempi = t.actions_by | append: t.months[mese] | append: ' ' | append: anno %}
                {% endif %}
                <div class="Grid-cell u-sizeFull u-sm-size4of5 u-md-size4of5 u-lg-size4of5 u-padding-r-left u-padding-r-right u-padding-top-xs u-padding-bottom-xs">
                  <span class="u-color-grey-90">{{ tempi }}</span>
                </div>
                <div class="Grid-cell u-sizeFull u-sm-size1of5 u-md-size1of5 u-lg-size1of5 u-padding-r-left u-padding-r-right u-padding-top-xs">
                  <span class="u-textItalic u-color-grey-90">{{ t.attori | capitalize }}:</span>
                </div>
                <div class="Grid-cell u-sizeFull u-sm-size4of5 u-md-size4of5 u-lg-size4of5 u-padding-r-left u-padding-r-right u-padding-top-xs u-padding-bottom-xs">
                  {% for attore in linea-azione.attori %}
                  <span class="u-color-grey-90">{{ site.data.attori[page.lang][attore].nome }}{% unless forloop.last %} - {% endunless %}</span>
                  {% endfor %}
                </div>
                <div class="Grid-cell u-sizeFull u-sm-size1of5 u-md-size1of5 u-lg-size1of5 u-padding-r-left u-padding-r-right u-padding-top-xs u-padding-bottom-xxs">
                  <span class="u-textItalic u-color-grey-90">{{ t.descrizione | capitalize }}:</span>
                </div>
                <div class="Grid-cell u-sizeFull u-sm-size4of5 u-md-size4of5 u-lg-size4of5 u-padding-r-left u-padding-r-right u-padding-top-xs u-padding-bottom-xxs">
                  <div class="u-color-grey-90">{{ linea-azione.descrizione | replace: newLine, newParagraph | markdownify }}</div>
                </div>
                <div class="Grid-cell u-sizeFull u-sm-size1of5 u-md-size1of5 u-lg-size1of5 u-padding-r-left u-padding-r-right u-padding-top-xs u-padding-bottom-xxs">
                  <span class="u-textItalic u-color-grey-90">{{ t.risultati | capitalize }}:</span>
                </div>
                <div class="Grid-cell u-sizeFull u-sm-size4of5 u-md-size4of5 u-lg-size4of5 u-padding-r-left u-padding-r-right u-padding-top-xs u-padding-bottom-xxs">
                  {% if linea-azione.risultati == '---' %}
                  {{ linea-azione.risultati }}
                  {% else %}
                  <ul>
                  {% for risultato in linea-azione.risultati %}
                  <li class="u-color-grey-90 u-margin-bottom-l">
                    {{ risultato.descrizione  | replace: newLine, newParagraph | markdownify }}
                    {% if risultato.stato %}
                    <span class="u-margin-top-m u-block">
                      {{ t.stato }}:
                        {% if risultato.stato == 'completo' %}<span class="u-text-xxs u-alignMiddle u-flexExpandLeft u-padding-right-xs u-padding-left-xs u-borderRadius-xl u-color-95 u-textWeight-400 u-textNoWrap u-background-green">{{ t.completo }}<span class="Icon Icon-check u-margin-left-xs"></span></span>{% endif %}
                        {% if risultato.stato == 'in corso' %}<span class="u-text-xxs u-alignMiddle u-flexExpandLeft u-padding-right-xs u-padding-left-xs u-borderRadius-xl u-color-95 u-textWeight-400 u-textNoWrap u-background-yellow">{{ t.in_corso }}<span class="Icon Icon-settings u-margin-left-xs u-background-yellow"></span></span>{% endif %}
                        {% if risultato.stato == 'bloccato' %}<span class="u-text-xxs u-alignMiddle u-flexExpandLeft u-padding-right-xs u-padding-left-xs u-borderRadius-xl u-color-95 u-textWeight-400 u-textNoWrap u-background-red">{{ t.bloccato }}<span class="Icon Icon-close u-margin-left-xs u-background-red"></span></span>{% endif %}
                    </span>
                    {% endif %}
                    {% if risultato.nota %}
                    <span class="u-textItalic u-color-grey-90 u-margin-top-m u-block">{{ risultato.nota }}</span>
                    {% endif %}
                  </li>
                  {% endfor %}
                  </ul>
                  {% endif %}
                </div>
                {% if linea-azione.aree-intervento %}
                <div class="Grid-cell u-sizeFull u-sm-size1of5 u-md-size1of5 u-lg-size1of5 u-padding-r-left u-padding-r-right u-padding-top-xs">
                  <span class="u-textItalic u-color-grey-90">{{ t.aree-intervento | capitalize }}:</span>
                </div>
                <div class="Grid-cell u-sizeFull u-sm-size4of5 u-md-size4of5 u-lg-size4of5 u-padding-r-left u-padding-r-right u-padding-top-xs u-padding-bottom-xxs">
                  <div class="u-color-grey-90">{{ linea-azione.aree-intervento | replace: newLine, newParagraph | markdownify }}</div>
                </div>
                {% endif %}
                {% if linea-azione.nota %}
                <div class="Grid-cell u-sizeFull u-padding-r-left u-padding-r-right u-padding-top-s u-padding-bottom-xxs">
                  <div class="u-flex u-flexAlignItemsCenter">
                    <div><span class="Icon Icon-comment u-margin-right-s u-text-r-m"></span></div>
                    <div><span class="u-textItalic u-color-grey-90">{{ linea-azione.nota | newline_to_br }}</span></div>
                  </div>
                </div>
                {% endif %}
              </div>
          </div>
        </div>
    {% endif %}
    {% endif %}
    {% endfor %}
    {% endif %}
    {% endif %}
  {% endfor %}
  </div>

  <div id="panel-1" class="Linee-azione panel" aria-labelledby="tab-1" role="tabpanel">
  {% for linea-azione in linee-azione %}
    {% assign not-yet-inserted = true %}
    {% if linea-azione.chapter == page.chapter or page.linee-azione-all %}
    {% if linea-azione.subchapter == page.subchapter or page.linee-azione-all %}
    {% for attore in linea-azione.attori %}
    {% if site.data.attori[page.lang][attore].tipo == 'amministrazioni_territoriali' or site.data.attori[page.lang][attore].tipo == 'amministrazioni_centrali_e_territoriali' %}
    {% if not-yet-inserted %}
      {% assign not-yet-inserted = false %}
      <div class="Accordion Accordion--default fr-accordion js-fr-accordion" id="linea-azione-pal-{{ linea-azione.numero }}">
          <h3 class="Accordion-header js-fr-accordion__header fr-accordion__header" id="accordion-header-pal-{{ linea-azione.numero }}">
            <span class="Accordion-number">{{ linea-azione.numero }}</span>
            <span class="Accordion-link u-text-r-xs u-flex u-flexAlignItemsCenter">
              {{ linea-azione.nome }}
              {% comment %}{% if linea-azione.stato == 'completo' %}<span class="u-text-xxs u-alignMiddle u-flexExpandLeft u-padding-right-xs u-padding-left-xs u-borderRadius-xl u-color-95 u-textWeight-400 u-textNoWrap u-background-green">{{ t.completo }}<span class="Icon Icon-check u-margin-left-xs"></span></span>{% endif %}{% endcomment %}
              {% comment %}{% if linea-azione.stato == 'in corso' %}<span class="u-text-xxs u-alignMiddle u-flexExpandLeft u-padding-right-xs u-padding-left-xs u-borderRadius-xl u-color-95 u-textWeight-400 u-textNoWrap u-background-yellow">{{ t.in_corso }}<span class="Icon Icon-settings u-margin-left-xs u-background-yellow"></span></span>{% endif %}{% endcomment %}
              {% comment %}{% if linea-azione.stato == 'bloccato' %}<span class="u-text-xxs u-alignMiddle u-flexExpandLeft u-padding-right-xs u-padding-left-xs u-borderRadius-xl u-color-95 u-textWeight-400 u-textNoWrap u-background-red">{{ t.bloccato }}<span class="Icon Icon-close u-margin-left-xs u-background-red"></span></span>{% endif %}{% endcomment %}
              {% if linea-azione.nota %}
              <span class="u-margin-left-xs Icon Icon-comment"></span>
              {% endif %}
            </span>
          </h3>
          <div id="accordion-panel-pal-{{ linea-azione.numero }}" class="Accordion-panel fr-accordion__panel js-fr-accordion__panel">
              <div class="Grid u-padding-r-bottom">
                <div class="Grid-cell u-size1of3 u-sm-size1of5 u-md-size1of5 u-lg-size1of5 u-padding-r-left u-padding-r-right u-padding-top-xs u-padding-bottom-xxs">
                  <span class="u-textItalic u-color-grey-90">{{ t.tempi | capitalize }}:</span>
                </div>
                {% assign tempi = t.actions_progress %}
                {% if linea-azione.inizio %}
                {% assign inizio = linea-azione.inizio | split: '/' %}
                {% assign anno_inizio = inizio | last %}
                {% assign mese_inizio = inizio | first %}
                {% assign tempi = t.actions_from | append: t.months[mese_inizio] | append: ' ' | append: anno_inizio %}
                {% endif %}
                {% if linea-azione.fine %}
                {% assign fine = linea-azione.fine | split: '/' %}
                {% assign anno_fine = fine | last %}
                {% assign mese_fine = fine | first %}
                {% assign tempi = tempi | append: t.actions_to | append: t.months[mese_fine] | append: ' ' | append: anno_fine %}
                {% endif %}
                {% if linea-azione.a %}
                {% assign a = linea-azione.a | split: '/' %}
                {% assign anno = a | last %}
                {% assign mese = a | first %}
                {% assign tempi = 'a ' | append: t.months[mese] | append: ' ' | append: anno %}
                {% endif %}
                {% if linea-azione.entro %}
                {% assign entro = linea-azione.entro | split: '/' %}
                {% assign anno = entro | last %}
                {% assign mese = entro | first  %}
                {% assign tempi = t.actions_by | append: t.months[mese] | append: ' ' | append: anno %}
                {% endif %}
                <div class="Grid-cell u-size2of3 u-sm-size4of5 u-md-size4of5 u-lg-size4of5 u-padding-r-left u-padding-r-right u-padding-top-xs u-padding-bottom-xxs">
                  <span class="u-color-grey-90">{{ tempi }}</span>
                </div>
                <div class="Grid-cell u-size1of3 u-sm-size1of5 u-md-size1of5 u-lg-size1of5 u-padding-r-left u-padding-r-right u-padding-top-xs u-padding-bottom-xxs">
                  <span class="u-textItalic u-color-grey-90">{{ t.attori | capitalize }}:</span>
                </div>
                <div class="Grid-cell u-size2of3 u-sm-size4of5 u-md-size4of5 u-lg-size4of5 u-padding-r-left u-padding-r-right u-padding-top-xs u-padding-bottom-xxs">
                  {% for attore in linea-azione.attori %}
                  <span class="u-color-grey-90">{{ site.data.attori[page.lang][attore].nome }}{% unless forloop.last %} - {% endunless %}</span>
                  {% endfor %}
                </div>
                <div class="Grid-cell u-size1of3 u-sm-size1of5 u-md-size1of5 u-lg-size1of5 u-padding-r-left u-padding-r-right u-padding-top-xs u-padding-bottom-xxs">
                  <span class="u-textItalic u-color-grey-90">{{ t.descrizione | capitalize }}:</span>
                </div>
                <div class="Grid-cell u-size2of3 u-sm-size4of5 u-md-size4of5 u-lg-size4of5 u-padding-r-left u-padding-r-right u-padding-top-xs u-padding-bottom-xxs">
                  <div class="u-color-grey-90">{{ linea-azione.descrizione | replace: newLine, newParagraph | markdownify }}</div>
                </div>
                <div class="Grid-cell u-sizeFull u-sm-size1of5 u-md-size1of5 u-lg-size1of5 u-padding-r-left u-padding-r-right u-padding-top-xs u-padding-bottom-xxs">
                  <span class="u-textItalic u-color-grey-90">{{ t.risultati | capitalize }}:</span>
                </div>
                <div class="Grid-cell u-sizeFull u-sm-size4of5 u-md-size4of5 u-lg-size4of5 u-padding-r-left u-padding-r-right u-padding-top-xs u-padding-bottom-xxs">
                  {% if linea-azione.risultati == '---' %}
                  {{ linea-azione.risultati }}
                  {% else %}
                  <ul>
                  {% for risultato in linea-azione.risultati %}
                  <li class="u-color-grey-90 u-margin-bottom-l">
                    {{ risultato.descrizione }}
                    {% if risultato.stato %}
                    <span class="u-margin-top-m u-block">
                      {{ t.stato }}:
                        {% if risultato.stato == 'completo' %}<span class="u-text-xxs u-alignMiddle u-flexExpandLeft u-padding-right-xs u-padding-left-xs u-borderRadius-xl u-color-95 u-textWeight-400 u-textNoWrap u-background-green">{{ t.completo }}<span class="Icon Icon-check u-margin-left-xs"></span></span>{% endif %}
                        {% if risultato.stato == 'in corso' %}<span class="u-text-xxs u-alignMiddle u-flexExpandLeft u-padding-right-xs u-padding-left-xs u-borderRadius-xl u-color-95 u-textWeight-400 u-textNoWrap u-background-yellow">{{ t.in_corso }}<span class="Icon Icon-settings u-margin-left-xs u-background-yellow"></span></span>{% endif %}
                        {% if risultato.stato == 'bloccato' %}<span class="u-text-xxs u-alignMiddle u-flexExpandLeft u-padding-right-xs u-padding-left-xs u-borderRadius-xl u-color-95 u-textWeight-400 u-textNoWrap u-background-red">{{ t.bloccato }}<span class="Icon Icon-close u-margin-left-xs u-background-red"></span></span>{% endif %}
                    </span>
                    {% endif %}
                    {% if risultato.nota %}
                    <span class="u-textItalic u-color-grey-90 u-margin-top-m u-block">{{ risultato.nota }}</span>
                    {% endif %}
                  </li>
                  {% endfor %}
                  </ul>
                  {% endif %}
                </div>
                {% if linea-azione.aree-intervento %}
                <div class="Grid-cell u-sizeFull u-sm-size1of5 u-md-size1of5 u-lg-size1of5 u-padding-r-left u-padding-r-right u-padding-top-xs">
                  <span class="u-textItalic u-color-grey-90">{{ t.aree-intervento | capitalize }}:</span>
                </div>
                <div class="Grid-cell u-sizeFull u-sm-size4of5 u-md-size4of5 u-lg-size4of5 u-padding-r-left u-padding-r-right u-padding-top-xs u-padding-bottom-xxs">
                  <div class="u-color-grey-90">{{ linea-azione.aree-intervento | replace: newLine, newParagraph | markdownify }}</div>
                </div>
                {% endif %}
                {% if linea-azione.nota %}
                <div class="Grid-cell u-sizeFull u-padding-r-left u-padding-r-right u-padding-top-s u-padding-bottom-xxs">
                  <div class="u-flex u-flexAlignItemsCenter">
                    <div><span class="Icon Icon-comment u-margin-right-s u-text-r-m"></span></div>
                    <div><span class="u-textItalic u-color-grey-90">{{ linea-azione.nota | newline_to_br }}</span></div>
                  </div>
                </div>
                {% endif %}
              </div>
          </div>
        </div>
    {% endif %}
    {% endif %}
    {% endfor %}
    {% endif %}
    {% endif %}
  {% endfor %}
  </div>
</div>
