<footer class="Footer">

  <div class="Grid Grid--withGutter u-padding-top-xl u-flex u-flexJustifyBetween">
    <div class="Owner Grid-cell u-sm-size1of2 u-md-size1of5 u-lg-size1of5 u-padding-r-bottom">
      <div class="Grid">
        <div class="u-inlineBlock">
          <a href="{{ t.gov_link }}" title="{{ t.gov_full | escape }}">
          <img class="Footer-logo u-alignMiddle" src="{{ t.gov_logo | relative_url }}"
          alt="{{ t.gov_full }}" style="height: 4em; max-width: 100%"></a>
        </div>
        <p class="Grid-cell u-size8of12 u-md-size7of12 Footer-siteName u-padding-top-xxs u-text-r-m">
          <a href="{{ t.gov_link }}" title="{{ t.gov_full | escape }}" class="u-color-white u-textClean">{{ t.gov_full | escape }}</a>
        </p>
      </div>
    </div>

    <div class="Owner Grid-cell u-sm-size1of2 u-md-size1of3 u-lg-size1of3 u-padding-r-bottom">
      <div class="Grid">     
        <div class="u-inlineBlock">
          <a href="{{ t.owner_link }}" title="{{ t.owner_full | escape }}">
          <img class="Footer-logo u-alignMiddle" src="{{ t.owner_logo | relative_url }}"
          alt="{{ t.owner_full }}" style="height: 4em; max-width: 100%"></a>
        </div>
      </div>
    </div>

    <div class="Partner Grid-cell u-sm-size1of2 u-md-size1of3 u-lg-size1of3 u-padding-r-bottom td-footer">
      <div class="Grid">
        <div class="u-inlineBlock">
            <a href="{{ t.partner_link }}" title="{{ t.owner_full | escape }}">
            <img class="u-padding-right-xxs" src="{{ t.partner_logo | relative_url }}"
            alt="{{ t.partner_full }}" style="height: 4em; max-width: 100%"></a>
        </div>
        <div class="Grid-cell u-size1of12 u-padding-left-none team-bar"></div>
        <p class="Grid-cell u-size6of12 Footer-siteName u-padding-left-xs u-text-r-xs">
          <a href="{{ t.partner_link }}" title="{{ t.partner_full | escape }}" class="u-color-white u-textClean">{{ t.partner_full | upcase }}</a>
        </p>
      </div>
    </div>

    <div class="Social Grid-cell u-lg-sizeFull u-flex u-flexJustifyEnd u-textRight u-padding-r-bottom u-padding-r-top u-flexAlignSelfEnd">
      <h2 class="u-md-flexInline u-lg-flexInline u-text-p u-color-white u-textWeight-400
        u-hidden u-margin-r-right u-flexAlignSelfCenter">{{ t.follow_us | capitalize }}</h2>
      <ul class="Footer-socialIcons">
        {% assign socials = site.data.social[page.lang] | where: 'footer', true %}
        {% for social in socials %}
          <li>
            <a href="{{ social.link }}" title="{{ social.name }}" target="_blank"><span class="Icon-{{ social.name }}"></span>
            <span class="u-hiddenVisually">{{ social.name | capitalize }}</span></a>
          </li>
        {% endfor %}
      </ul>
    </div>

  </div>

  <div class="Footer-links u-cf u-color-80">
    <ul class="u-floatLeft">
    {% for link in site.data.footer_links[page.lang]  %}
      {% assign link_name = link[1].title %}
      <li><a href="{{ link[1].url | relative_url }}">{{ t[link_name] | default: link_name | capitalize }}</a></li>
    {% endfor %}
    </ul>
  </div>

  <div class="Footer-space u-sm-hidden u-md-hidden u-lg-hidden"></div>

</footer>

{% include scripts.html %}

{% if jekyll.environment == 'production' and site.wai %} {% include wai.html %} {% endif %}
