{% assign pages_in_other_langs = site.pages | where: "ref", page.ref | sort: 'lang' | reverse %}
<div class="Header-languages u-background-50">

  <a href="#languages" data-menu-trigger="languages" class="Header-language u-border-none u-zindex-max u-inlineBlock">
    <span class="u-hiddenVisually">{{ t.active_lang }}:</span>
    <span class="">{{ site.data.l10n[active_lang].code | upcase }}</span>
    <span class="Icon Icon-expand u-padding-left-xs"></span>
  </a>

  <div id="languages" data-menu class="Dropdown-menu Header-language-other u-jsVisibilityHidden u-nojsDisplayNone">
    <span class="Icon-drop-down Dropdown-arrow u-color-white"></span>
    <ul class="Linklist">
      {% for linked_page in pages_in_other_langs %}
      {% if linked_page.lang == "it" %}
      
        <li><a href="{{ linked_page.url }}" title="{{ site.data.t.ItalianVersion[page.lang] }}" {% if linked_page.lang == page.lang %}class="u-textWeight-600"{% endif %}>{{site.data.l10n[linked_page.lang].name}}</a></li>
        {% else %}
        <li><a href="{{ linked_page.url }}" title="{{ site.data.t.EnglishVersion[page.lang] }}" {% if linked_page.lang == page.lang %}class="u-textWeight-600"{% endif %}>{{site.data.l10n[linked_page.lang].name}}</a></li>
      {% endif %}
      {% endfor %}
    </ul>
  </div>

</div>

