{% assign temi_in_body = 'servizi-digitali,modelli-e-strumenti-innovazione,ecosistemi,piattaforme,dati-della-pa,modello-di-interoperabilita,infrastrutture,governare-la-trasformazione-digitale' | split: ',' %}
{% assign temi_in_footer = 'sicurezza,pdnd' | split: ',' %}

<div class="Modello-strategico u-textCenter u-margin-bottom-xl u-background-teal-30 u-borderRadius-m u-padding-r-all">
  <div class="Grid">
    <div class="Grid-cell u-sizeFull u-zindex-30" style="border-left: 2rem solid #06c; border-right: 2rem solid #06c; border-radius: 4px">
      <div class="u-sizeFill u-sizeFull u-padding-r-bottom u-padding-r-left u-padding-r-right">
        
        {% for tema in temi_in_body %}
          {% assign refpages = site.pages | where: "ref", t.temi[tema].ref %}
          {% assign refpage = refpages | where: "lang", page.lang | first %}

          <a href="{{ refpage.url | relative_url }}" class="u-borderRadius-m u-block u-background-white u-margin-r-bottom u-padding-r-all u-textCenter u-color-50 u-textClean u-text-r-xs">
            {{ t.temi[tema].name }}
          </a>
        {% endfor %}
      </div>
    </div>

    <div class="Grid-cell u-flex u-sizeFull u-flexAlignItemsStretch u-flexJustifyBetween" style="margin-top: -1.8rem">
    {% for tema in temi_in_footer %}
     {% assign refpages = site.pages | where: "ref", t.temi[tema].ref %}
     {% assign refpage = refpages | where: "lang", page.lang | first %}
      <div class="u-borderRadius-m u-background-50 u-size5of12 u-flex u-flexAlignItemsCenter">
        <a href="{{ refpage.url | relative_url }}" class="u-sizeFull u-block u-textClean
        u-color-white u-padding-r-all u-text-r-xs">
          {{ t.temi[tema].name }}
        </a>
      </div>
    {% endfor %}
    </div>
  </div>
</div>
