<div class="Title u-layout-r-withGutter u-posRelative u-zindex-30 {% if include.bg-color %}u-background-{{ include.bg-color }}{% endif %}">
<h1 class="u-text-r-xl u-color-white u-margin-top-l u-lineHeight-l">
  <span class="u-cf {% if include.color %}u-color-{{ include.color }}{% endif %}">
    <strong class="u-textWeight-600 u-alignMiddle">{{ page.title }}</strong>
    {% if include.title_button %}
    <a href="{{ include.title_button_url | relative_url }}" class="Button Button--title Button--round Button--shadow-dark u-alignMiddle">{{ t.[include.title_button_label] }}</a>
    {% endif %}
    <br />
    {% if page.subtitle %}<span class="u-textWeight-300 u-text-r-s">{{ page.subtitle }}</span>{% endif %}
  </span>
</h1>
</div>