<div class="Header-slim u-background-50 u-floatRight">

  <ul class="Header-links u-cf">
    {% for link in site.data.network_links[page.lang] %}
      {% assign link_name = link[1].title %}
      <li class="{{ link[1].class }}" {% if link[1].upcoming %} style="color: white; opacity: 0.5;" {% endif %}>
        {% unless link[1].upcoming %}<a class="u-color-white" href="{{ link[1].url }}" {% if link[1].external %}target="_blank"{% endif %}>{% endunless %}
          {{ t[link_name] | default: link_name }}
        {% unless link[1].upcoming %}</a>{% endunless %}
      </li>
    {% endfor %}
  </ul>

</div>
