@font-face {
  font-family: 'ita';
  src:  url('fonts/ita.eot?5w1yfr');
  src:  url('fonts/ita.eot?5w1yfr#iefix') format('embedded-opentype'),
    url('fonts/ita.ttf?5w1yfr') format('truetype'),
    url('fonts/ita.woff?5w1yfr') format('woff'),
    url('fonts/ita.svg?5w1yfr#ita') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="Icon-"], [class*=" Icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'ita' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.Icon-github-o:before {
  content: "\e901";
}
.Icon-download-alt:before {
  content: "\e902";
}
.Icon-read:before {
  content: "\e903";
}
.Icon-forum:before {
  content: "\e904";
}
.Icon-small-burger:before {
  content: "\e905";
}
.Icon-cc0:before {
  content: "\e906";
}
.Icon-linkedin:before {
  content: "\4e";
}
.Icon-youtube:before {
  content: "\5a";
}
.Icon-instagram:before {
  content: "\4a";
}
.Icon-medium:before {
  content: "\e907";
}
.Icon-github:before {
  content: "\68";
}
.Icon-slideshare:before {
  content: "\54";
}
.Icon-googleplus:before {
  content: "\48";
}
.Icon-flickr:before {
  content: "\4b";
}
.Icon-expand-media:before {
  content: "\26db";
}
.Icon-list:before {
  content: "\2264";
}
.Icon-pin:before {
  content: "\1f6aa";
}
.Icon-facebook:before {
  content: "\69";
}
.Icon-share:before {
  content: "\1f4e3";
}
.Icon-x:before {
  content: "\e900";
}
.Icon-twitter:before {
  content: "\e900";
}
.Icon-whatsapp:before {
  content: "\58";
}
.Icon-rss:before {
  content: "\1f4c6";
}
.Icon-youtube-text:before {
  content: "\7a";
}
.Icon-comment:before {
  content: "\1f4ad";
}
.Icon-file:before {
  content: "\1f4c7";
}
.Icon-mail:before {
  content: "\1f4e8";
}
.Icon-video:before {
  content: "\1f3a6";
}
.Icon-camera:before {
  content: "\1f4f8";
}
.Icon-external-link:before {
  content: "\1f59e";
}
.Icon-link:before {
  content: "\1f518";
}
.Icon-calendar:before {
  content: "\1f4c8";
}
.Icon-pdf:before {
  content: "\1f5cc";
}
.Icon-copy:before {
  content: "\1f5ce";
}
.Icon-favorite:before {
  content: "\2662";
}
.Icon-error:before {
  content: "\1f5f6";
}
.Icon-download:before {
  content: "\2b08";
}
.Icon-upload:before {
  content: "\2b09";
}
.Icon-unlock:before {
  content: "\1f514";
}
.Icon-lock:before {
  content: "\1f515";
}
.Icon-settings:before {
  content: "\269a";
}
.Icon-search:before {
  content: "\1f50e";
}
.Icon-zoom-in:before {
  content: "\26b3";
}
.Icon-zoom-out:before {
  content: "\1f510";
}
.Icon-arrow-down:before {
  content: "\2b64";
}
.Icon-arrow-up:before {
  content: "\2b62";
}
.Icon-more-items:before {
  content: "\22f0";
}
.Icon-more-actions:before {
  content: "\22f1";
}
.Icon-check:before {
  content: "\2714";
}
.Icon-cancel:before {
  content: "\2614";
}
.Icon-app:before {
  content: "\1f4f3";
}
.Icon-refresh:before {
  content: "\27f4";
}
.Icon-close:before {
  content: "\1f5f7";
}
.Icon-drop-up:before {
  content: "\25bd";
}
.Icon-drop-down:before {
  content: "\25b3";
}
.Icon-collapse:before {
  content: "\23f8";
}
.Icon-expand:before {
  content: "\23f9";
}
.Icon-chevron-right:before {
  content: "\23fa";
}
.Icon-chevron-left:before {
  content: "\23fb";
}
.Icon-arrow-right:before {
  content: "\27f7";
}
.Icon-arrow-left:before {
  content: "\27f8";
}
.Icon-checkbox-checked:before {
  content: "\2612";
}
.Icon-checkbox:before {
  content: "\2615";
}
.Icon-radio-button:before {
  content: "\25f0";
}
.Icon-radio-button-checked:before {
  content: "\260a";
}
.Icon-warning:before {
  content: "\26a1";
}
.Icon-info:before {
  content: "\1f6c9";
}
.Icon-print:before {
  content: "\1f5b7";
}
