---
layout: default
---

{% include setlang.html %}

<div class="Page-title u-background-50 u-padding-top-xxl project-title-wrapper u-text{{ page.title-alignment | capitalize }}">
  {% if page.separator == 'curved' %}
  {% include page_title.html %}
  <div class="Separator-curved">
    <svg id="curveDown" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" style="fill: #f6f9fc;" viewBox="0 0 100 25" preserveAspectRatio="none">
      <path d="M100,50H0V0c1.9,2.5,19.4,25,50,25c3.1,0,31.6-0.5,50-25C100,16.7,100,33.3,100,50z"/>
    </svg>
  </div>
  {% elsif page.separator == 'ascending' %}
  {% include page_title.html %}
  <hr class="Separator-room" />
  <hr class="Separator Separator--up u-background-grey-15" />
  {% elsif page.separator == 'descending' %}
  <hr class="Separator-room" />
  <hr class="Separator Separator--down u-background-grey-15" />
  {% include page_title.html bg-color = 'grey-15' color = '50' %}
  {% else %}
  <hr class="Separator-room" />
  {% include page_title.html %}
  {% endif %}
</div>

<div class="Content u-background-grey-15 u-layout-r-withGutter u-padding-r-top u-padding-bottom-xxl u-posRelative u-zindex-30">
  <div class="Grid">
    <div class="Grid-cell u-sizeFull u-md-size6of12 u-lg-size6of12">
      <div class="u-margin-bottom-xxl">
         <div class="u-margin-top-xxl u-margin-bottom-xs u-inlineBlock">
           <a class="u-linkClean" href="{{ site.owner_link }}" title="{{ site.owner_full | escape }}">
             <img class="u-alignTop" src="{{ site.owner_logo_alt | relative_url }}" alt="{{ site.owner_full | escape }}" style="height: 4em; max-width: 100%">
           </a>
         </div>
         <div class="Prose">
           {{site.data.contacts[page.lang].owner.desc | markdownify}}
         </div>
         <div>
           <ul class="Footer-socialIcons u-margin-r-bottom">
           {% assign socials = site.data.social[page.lang] | where: 'owner', 'agid' %}
           {% for social in socials %}
             <li>
               <a href="{{ social.link }}" title="{{ social.name }}" target="_blank"><span class="Icon-{{ social.name }}"></span>
               <span class="u-hiddenVisually">{{ social.name | capitalize }}</span></a>
             </li>
           {% endfor %}
           </ul>
           <a href="{{site.data.contacts[page.lang].owner.site}}" title="{{ site.owner_full | escape }}" class="u-textWeight-600 u-linkClean u-color-teal-70">
           <span class="Icon Icon-arrow-right u-margin-left-xs u-alignMiddle"></span>
           <span class="u-textClean">{{ t.institutional_site }}: {{ site.data.contacts[page.lang].owner.site }}</span>
           </a>
         </div>
      </div>
      <div class="u-margin-bottom-xxl u-padding-top-xxl">
         <div class="Grid u-margin-top-xxl u-margin-bottom-xs ">
           <div class="u-inlineBlock">
             <a href="{{ site.partner_link }}" title="{{ site.partner_full | escape }}"><img class="u-padding-right-xs" src="{{ site.gov_logo_alt | relative_url }}" alt="{{ site.gov_full }}"
               style="height: 4em; max-width: 100%"></a>
             <a href="{{ site.partner_link }}" title="{{ site.partner_full | escape }}"><img class="u-padding-right-xxs" src="{{ site.partner_logo_alt | relative_url }}" alt="{{ site.partner_full }}"
               style="height: 4em; max-width: 100%"></a>
           </div>
           <div class="Grid-cell u-size1of12 u-padding-left-none team-bar-alt"></div>
           <p class="Grid-cell u-size1of3 Footer-siteName u-padding-left-xs u-text-r-xs">
             <a href="{{ site.partner_link }}" title="{{ site.partner_full | escape }}" class="u-color-grey-50 u-textClean">{{ site.partner_full | upcase }}</a>
           </p>
         </div>
         <div class="Prose">
           {{site.data.contacts[page.lang].partner.desc | markdownify}}
         </div>
         <div>
            <ul class="Footer-socialIcons u-margin-r-bottom">
            {% assign socials = site.data.social[page.lang] | where: 'owner', 'dtd' %}
            {% for social in socials %}
               <li>
                  <a href="{{ social.link }}" title="{{ social.name }}" target="_blank"><span class="Icon-{{ social.name }}"></span>
                  <span class="u-hiddenVisually">{{ social.name | capitalize }}</span></a>
               </li>
            {% endfor %}
            </ul>
            <a href="{{site.data.contacts[page.lang].partner.site}}" title="{{ site.partner_full | escape }}" class="u-textWeight-600 u-linkClean u-color-teal-70">
               <span class="Icon Icon-arrow-right u-margin-left-xs u-alignMiddle"></span>
               <span class="u-textClean">{{ t.institutional_site }}: {{ site.data.contacts[page.lang].partner.site }}</span>
            </a>
         </div>
      </div>
    </div>
    {% comment %}
     <div class="Grid-cell u-sizeFull u-md-before2of12 u-md-size4of12 u-lg-before2of12 u-lg-size4of12">
      <div class="Prose">
        {% include press_kit.html %}
      </div>
    </div>
    {% endcomment %}
  </div>
</div>
