{% include setlang.html %}

{% include head.html %}
{% include skiplinks.html %}

{% assign buttonLink = site.data.ext_links[page.lang].piano-triennale-index.docs %}

<div class="u-layout-wide u-layoutCenter u-posRelative">
  {% include header.html hasButton = true headerButtonText = t.home_header_button_text headerButtonLink = buttonLink %}
  {% include offcanvas.html menu_items = site.data.menu_items %}
  {% include network.html network_items=site.data.network_links %}
  <div class="Page-container" id="main">
  {{ content }}
  </div>
</div>

{% include scrolltop.html %}

<div class="u-background-95 u-zindex-30">
  <div class="u-layout-wide u-layoutCenter u-layout-r-withGutter u-hiddenPrint">
    {% include footer--simple.html %}
  </div>
</div>

</body>
</html>
