---
layout: default
---

{% include setlang.html %}

<div class="Page-title u-background-50 u-padding-top-xxl project-title-wrapper u-text{{ page.title-alignment | capitalize }}">
  {% if page.separator == 'curved' %}
  {% include page_title.html %}
  <div class="Separator-curved">
    <svg id="curveDown" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" style="fill: #f6f9fc;" viewBox="0 0 100 25" preserveAspectRatio="none">
      <path d="M100,50H0V0c1.9,2.5,19.4,25,50,25c3.1,0,31.6-0.5,50-25C100,16.7,100,33.3,100,50z"/>
    </svg>
  </div>
  {% elsif page.separator == 'ascending' %}
  {% include page_title.html %}
  <hr class="Separator-room" />
  <hr class="Separator Separator--up u-background-grey-15" />
  {% elsif page.separator == 'descending' %}
  <hr class="Separator-room" />
  <hr class="Separator Separator--down u-background-grey-15" />
  {% include page_title.html bg-color = 'grey-15' color = '50' %}
  {% else %}
  <hr class="Separator-room" />
  {% include page_title.html %}
  {% endif %}
</div>

<div class="Content u-background-grey-15 u-layout-r-withGutter u-padding-r-top u-padding-bottom-xxl u-posRelative u-zindex-30">
  <div class="Grid">
    <div class="Grid-cell u-sizeFull u-md-size7of12 u-lg-size7of12">
      {% assign faqs = site.data.faqs[active_lang] %}
      <div class="Accordion Accordion--default fr-accordion js-fr-accordion" id="accordion-{{ forloop.index }}
        u-color-grey-30 u-border-bottom-xxs">
        {% for faq in faqs %}
        <div id="faq-{{ forloop.index }}">
        <h2 class="Accordion-header js-fr-accordion__header fr-accordion__header"
          id="accordion-header-{{ forloop.index }}">
          <a href="#faq-{{ forloop.index }}" class="Accordion-link">{{ faq.title }}</a>
        </h2>
        <div id="accordion-panel-{{ forloop.index }}" class="Accordion-panel fr-accordion__panel js-fr-accordion__panel">
          <div class="Prose u-text-p u-padding-r-bottom u-textSecondary">{{ faq.text | markdownify }}</div>
        </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
