---
layout: default
---

{% include setlang.html %}
<div class="Home-container">
  <div class="Home-gradient"></div>
  <div class="Home-background rellax" data-rellax-speed="6"></div>
  <div class="Home-content">

    {% comment %}
    <!--<div class="u-textCenter u-padding-r-all u-textCenter u-padding-bottom-xxl u-posRelative">
       <div class="Home-hero u-layoutCenter u-margin-bottom-l">
      <h2 class="u-text-r-xl u-textWeight-300 u-color-white u-margin-top-l u-lineHeight-l">
        <span class="u-hidden u-sm-block u-md-block u-lg-block">{{ t.home_hero | newline_to_br }}</span>
        <span class="u-sm-hidden u-md-hidden u-lg-hidden">{{ t.home_hero_mobile | newline_to_br }}</span>
      </h2>
       <div class="">
          <p class="u-text-r-xs u-textWeight-600 u-padding-bottom-xs u-color-white u-text-r-l u-textRight">{{ t.quotes[2019].conte.author_name }}</p>
          <p class="u-text-r-xxs u-textWeight-200 u-color-white u-text-r-l u-textRight">{{ t.quotes[2019].conte.author_role }}</p>
      </div>
          </div>
    </div>-->
    {% endcomment %}

    <section class="u-layout-r-withGutter u-padding-top-xxl u-padding-bottom-xxl">

      <div class="u-layout-wide u-layoutCenter">
        
        <div class="Grid Grid--withGutter">

          <div class="Grid-cell u-md-size5of12 u-lg-size5of12 u-margin-r-bottom u-posRelative" id="home-pt">
          {% assign pianoUrl = t.home_links.plan | relative_url %}
          {%
            include card.html
            title = t.home_pt_title
            text = t.home_pt_description
            link = pianoUrl
            hasMore = false
          %}
            <div class="u-margin-top-xxl">
              {%
                include card.html
                title = t.home_pt_dpcm_download_title
                text = t.home_pt_dpcm_download
              %}
            </div>
          </div>

          <div class="Grid-cell u-md-size5of12 u-md-before2of12 u-lg-size5of12 u-lg-before2of12 u-margin-r-bottom u-posRelative">
            <div class="u-padding-bottom-xxl">
            {% assign authorName = t.quotes[2024].butti.author_name %}
            {% assign authorRole = t.quotes[2024].butti.author_role | newline_to_br %}
            {% assign text = t.quotes[2024].butti.text | newline_to_br %}
            {%
              include card.html
              authorName = authorName
              authorRole = authorRole
              text = text
              textClasses = 'u-color-white u-text-r-m u-textRight'
              classes = 'u-background-transparent u-padding-right-xxl'
              flat = true
            %}
            </div>

            <div class="u-margin-top-xxl">
            {%
              include card.html
              title = t.home_pt_howto_title
              text = t.home_pt_howto
            %}
            </div>
          </div>
        </div>

      </div>

    <!--<div class="Home-space"></div>-->

    <div class="Sticky-bottom Grid Grid--alignMiddle u-sm-hidden u-md-hidden u-lg-hidden u-background-50">
      <div class="Grid-cell u-size1of2 u-padding-r-all">
        <a role="button" href="{{ site.data.ext_links[page.lang].piano-triennale-index.docs }}"
        class="Button Button--default Button--shadow-dark Button--round u-text-r-xxs u-padding-r-all u-sizeFull">
          {{ t.home_header_button_text | upcase }}
        </a>
      </div>
    </div>

    </section>
  </div>
</div>
